.topbar {
  box-sizing: border-box;
  height: 56px;
}

.welcome {
  float: left;
  display: block;
  color: lightsteelblue;
  text-align: center;
  width: fit-content;
}

.login {
  float: right;
  display: block;
  color: red;
  text-align: center;
}

/* li a {
  color: white;
} */

body {
  background: darkblue;
  /*   .eiffel {
    background-position: center;
  } */
  /* background-position: center bottom; */
}

/* body {
    background: url("images/baby1.jpg"), url("images/baby2.jpg"),
      url("images/baby3.jpg");
    background-position: center top, right top, center left;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 400px 400px, 400px 400px, 400px 400px;
  } */
