<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First App</title>
    <link rel="stylesheet" href="{% static 'homepage/css/homepage.css' %}" />
  </head>
  <body>
    <h1>Hello world!</h1>
    <p>This is my first attempt</p>
    <img src="{% static 'homepage/images/flower.jpg' %}" />
    <div></div>
    {{ insert_me }}
  </body>
</html> -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page | Kenny's Website</title>
    <link rel="stylesheet" href="{% static 'homepage/css/homepage.css'%}" />
  </head>
  <body>
    <a href="{% url 'register:register_page' %}">
      <button class="signupbutton" type="button">Sign up here!</button>
    </a>
    <h1 class="toppage">Welcome to Django level 2</h1>
    <h2>Here are your access records!</h2>
    <div class="djangtwo">
      {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>
        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No access records found!</p>
      {% endif %}
    </div>
  </body>
</html>
